* {
    margin: 0;
    padding: 0;   
  }

  .ImgContainer {
    margin-top: 1.5rem;
  }

  .LineContainer {
    display: flex;
  }

  .Img {
    margin-top: 6.1rem;
    width: 84.3rem;
    height: 30rem;
  }

  .Name {
    font-family: cursive;
    margin-left: 2.5rem;
    font-size: 1.3rem;
  }

  .Text {
    margin-left: 2.5rem;
  }

  .Srv {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
  }

  .Line1 {
    margin-top: 1.5rem;
  }

  .Line {
    width: 5rem; 
    margin: 0 auto; 
    border: none;
    border-radius: 2rem; 
    height: .4rem; 
    background-color: #E2D9CE; 
  }

  .Imgs {
    margin-top: 1.3rem;
    margin-right: 1rem;
    margin-left: 1.7rem;
    border-radius: 1rem;
    width: 25rem;
    height: 15rem;
  }

  .AboutContainer {
    margin-top: 1.5rem;
  }

  .Img1 {
    margin-top: 1.5rem;
    width: 50rem;
    height: 25rem;
  }

  .Abt{
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: bold;
    font-size: 1.7rem;
  }

  .LineAbt {
    margin-top: 5.3rem;
    width: 30rem; 
    margin-left: -4.3rem;
    border: none;
    border-radius: 2rem; 
    height: .4rem; 
    background-color: #E2D9CE;
  }

  .About{
    text-align: justify;
    margin-right: 3rem;
    margin-left: -5rem; 
    margin-top: 7.5rem;
    font-size: 1.2rem;
  }

  .ContactContainer {
    margin-top: 2rem;
  }

  .Map{   
    margin-left: 10rem;
    width: 65rem;
    height: 45rem;
    border-radius: 2rem;
    border: 0;
  }