* {
    margin: 0;
    padding: 0;   
  }

  .NavBar {
    width: 100%;
    position: fixed;
    opacity: 0.9;
    background: #97816D;
  }
  
  .Text {
    font-family: cursive;
    margin-left: 1rem;
    padding: 1rem;
  }
  
  .Btn {
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: -1rem;
    color: black;
    font-size: 1.2em;
    font-family: cursive;
    margin-left: 42rem;
    margin-right: -35rem;
    height: 1rem;
    position: relative;
    top: -3rem;
  }

  .Btn1 {
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: -1rem;
    color: black;
    font-size: 1.2rem;
    font-family: cursive;
    margin-left: 42rem;
    margin-right: -35rem;
    height: 1rem;
    position: relative;
    top: -3rem;
  }
  
  @media (max-width: 575.98px)and (orientation:portrait) {

    
  }